# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.dist-info/

# Virtual environments
.venv/
venv/
ENV/

# Env files
.env
.env.*

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build
build/
dist/

# Mypy
.mypy_cache/

# Pytest
.pytest_cache/

# Local temp
/tmp/
